#parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
}
#parent1{
    display: flex;
    flex-direction: column;
}
#child1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
#child2{
    display: flex;
    flex-direction: column;
}